@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post" asp-action="Register" asp-controller="Auth">

    <div>
        <label>Tip naloga</label>
        <select name="idUloga">
            <option value="1">Korisnik / gost</option>
            <option value="2">Admin / izdavalac</option>
        </select>
    </div>

    <div>
        <label>Ime</label>
        <input type="text" name="ime" />
    </div>

    <div>
        <label>Prezime</label>
        <input type="text" name="prezime" />
    </div>

    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>

    <div>
        <label>Lozinka</label>
        <input type="password" name="lozinka" />
    </div>

    <button type="submit">Registruj se</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<p>
    Već imaš nalog?
    <a asp-controller="Auth" asp-action="Login">Prijavi se</a>
</p>