@{
    ViewData["Title"] = "BookingMVC";
}

<div class="text-center">
    <h1>BookingMVC</h1>

    <p>
        Pronađi i rezerviši smještaj brzo i jednostavno.
    </p>

    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">
        Login
    </a>

    <a asp-controller="Auth" asp-action="Register" class="btn btn-success">
        Register
    </a>
</div>
